body{
    margin:0px;
}
#name{
    font-size: 35px;
    text-align: left;
    margin: 0px;
    padding: 15px;
    padding-bottom: 0px;
}
#grid_full{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#nct127{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin: 0px;
    padding: 15px;
}
a {
    text-decoration: none;
}
#grid_detail img{
    width: 300px;
    float: left;
    padding: 10px;
}
#wide_memberlist{
    border-right: 1px solid gray;
    width:80px;
    margin: 0px;
    padding: 35px;
}
#narrow_memberlist{
    display: none;
}
#active {
    color:greenyellow;
    text-decoration: none;
}
@media(max-width:800px){
#nct127{
    border-bottom:none;
}
#grid_full{
    display: block;
}
#grid_detail img{
    float:none;
}
#grid_detail p{
    padding-left: 10px;
}
#wide_memberlist{
    display: none;
}
#narrow_memberlist{
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
}
}